<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments/head.html::header(title='CR7Imports | Cadastro de Usuário')}"></div>
<body>
<nav class="navbar navbar-expand-sm bg-light p-3 shadow-sm">
	  <div class="container">
            <a class="navbar-brand text-dark" href="/admin">
                CR7Imports <img src="/assets/img/System-computer-icon.png" width="32" height="32">
            </a>

            <button class="navbar-toggler bg-dark" data-toggle="collapse" data-target="#navbar">
                <i class="fas fa-bars" style="color: white;"></i>
            </button>

		    <div class="navbar-collapse collapse justify-content-end" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark active mr-3" aria-current="page" href="/admin/produto">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark active mr-3" aria-current="page" href="/admin/usuario">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark active mr-3" aria-current="page" href="/admin">Admin</a>
                    </li>	
                    <li class="nav-item">
                        <a aria-current="page" href="/logout">
                            <button type="button" class="btn btn-outline-danger">Logout</button>
                        </a>
                    </li>
                </ul>		  
            </div>
        </div>
	</nav>

    <div class="background-gradient-cadastro">
        <div class="d-flex justify-content-center">
            <div class="card col-sm-10 col-md-10 col-lg-5 p-5 border-0 mt-5 mb-5 shadow" id="slidein">
                <form th:action="@{/admin/usuario/novo}" method="post" th:object="${usuarioInput}">
                    <div class="text-typing text-muted">
                        <p>Cadastro Usuario</p> 
                    </div>
                    <hr class="mb-5">
                    <div class="form-group">
                        <label for="cadastro-usuario">Nome do Usuário</label>
                        <input type="text" class="form-control border-0 bg-light" th:errorclass="is-invalid" id="cadastro-usuario" placeholder="Digite o nome do usário desejado" th:field="*{nome}">
                        <div th:class="invalid-feedback" th:errors="*{nome}">Erros do nome do usuario.</div>
                    </div>
                    <div class="form-group">
                        <label for="cadastro-cpf">CPF</label>
                        <input type="text" class="form-control border-0 bg-light" th:errorclass="is-invalid" id="cadastro-cpf" placeholder="Digite o CPF do usário desejado" th:field="*{CPF}">
                        <div th:class="invalid-feedback" th:errors="*{CPF}">Erros do CPF do usuario.</div>
                    </div>
                    <div class="form-group">
                        <label for="cadastro-telefone" class="mt-3">Telefone</label>
                        <input type="text" class="form-control border-0 bg-light" id="cadastro-telefone" placeholder="Digite seu telefone" th:field="*{telefone}">
                    </div>
                    <div class="form-group">
                        <label for="cadastro-email" class="mt-2">Email</label>
                        <input type="email" class="form-control border-0 bg-light" th:errorclass="is-invalid" id="cadastro-email" aria-describedby="emailHelp" placeholder="Digite seu email" th:field="*{email}">
                        <div th:class="invalid-feedback" th:errors="*{email}">Erros do email do usuario.</div>
                    </div>
                    <div class="form-group">
                        <label for="cadastro-data" class="mt-3">Data de Nascimento</label>
                        <input type="date"  class="form-control border-0 bg-light" th:errorclass="is-invalid" id="cadastro-data" th:field="*{dataNascimento}">
                        <div th:class="invalid-feedback" th:errors="*{dataNascimento}">Erros da data de nascimento do usuario.</div>
                    </div>
                    <div class="form-group">
                        <label for="cadastro-senha" class="mt-3">Senha</label>
                        <input type="password"  class="form-control border-0 bg-light" th:errorclass="is-invalid" id="cadastro-senha" placeholder="Digite sua senha desejada" th:field="*{senha}">
                        <div th:class="invalid-feedback" th:errors="*{senha}">Erros na senha do usuario.</div>
                    </div>
                    <div class="form-check mt-5">
                        <input class="form-check-input" type="radio" name="cadastro-tipo-usuario" id="cadastro-radio-administrador" value="ADMINISTRADOR" th:field="*{tipo}">
                        <label class="form-check-label" for="cadastro-radio-administrador">
                            Administrador 
                        </label>
                    
                        <input class="form-check-input ml-4" type="radio" name="cadastro-tipo-usuario" id="cadastro-radio-estoquista" value="ESTOQUISTA" th:field="*{tipo}" checked>
                        <label class="form-check-label ml-5" for="cadastro-radio-estoquista">
                            Estoquista
                        </label>
                    </div>
                    <button type="submit" class="btn btn-outline-primary col-lg-12 mt-5">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>