<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="https://www.thymeleaf.org">
   <div th:replace="~{fragments/head.html::header(title='CR7Imports | Painel de Usuário')}"></div>
   <body>
	  <div th:replace="@{/fragments/navbar}"></div>
      <div class="p-4 mb-2 bg-dark text-white">
      <div class="d-flex justify-content-center">
         <div class="card col-sm-10 col-md-10 col-lg-10 p-5 border-0 mt-5 mb-5 shadow" id="slidein">
            <div class="text-typing text-muted mb-5">
               <p>Painel de Usuários</p>
            </div>
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome do Usuário</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Status</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:each="usuario: ${usuarios}">
                        <td th:text="${usuario.id}" />
                        <td th:text="${usuario.userName}" />
                        <td th:text="${usuario.mail}" />
                        <td>
                           <a aria-current="page" th:href="@{'/admin/usuario/'+${usuario.id}}">
                           <button type="button" class="btn btn-outline-primary">Editar</button>
                           </a>
                        </td>
                        <div th:if="${usuario.id != 1}">
                           <form th:action="@{'/admin/usuario/'+${usuario.id}+'/status'}" method="POST">
                              <td th:if="${usuario.enabled}"><button type="submit" class="btn btn-outline-danger">Inativar</button></td>
                              <td th:unless="${usuario.enabled}"><button type="submit" class="btn btn-outline-success">Ativar</button></td>
                           </form>
                        </div>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </body>
</html>