<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments/head.html::header(title='CR7Imports | Cadastro de Marca')}"></div>
<body>
	<div th:replace="@{/fragments/navbar}"></div>
    <div class="p-3 mb-2 bg-dark text-black">
        <div class="d-flex justify-content-center">
            <div class="card col-sm-10 col-md-10 col-lg-5 p-5 border-0 mt-5 mb-5 shadow" id="slidein">
                <form th:action="@{${tipo == 0} ? '/admin/brand/newBrand' : '/admin/brand/'+${id}+'/editBrand'}" th:object="${brand}" method="POST">
                    <div class="text-typing text-muted">
                        <p th:text="${tipo == 0 ? 'Cadastro Marca' : 'Edição Marca'}"></p> 
                    </div>
                    <hr class="mb-5">
                    <div class="form-group">
                        <label for="cadastro-marca-nome">Nome da Marca</label>
                        <input type="text" class="form-control border-0 bg-light" id="cadastro-marca-nome" placeholder="Digite o nome da marca desejada" required=true th:field="*{brandName}" th:value="*{brandName}"/>
                    </div>
					<div th:if="${tipo == 0}"  class="form-group">
					     <label for="cadastro-marca-country">País</label>
					<select class="form-control border-0 bg-light" id="cadastro-marca-country" th:field="*{country}">
					      <option value="" disabled selected>Select um Pais</option>
					      <option th:each="country : ${countries}" th:value="${country.idCountry}" th:text="${country.namePort}"></option>
					</select>
					</div>
					<div th:if="${tipo != 0}" class="form-group">
					                     <label for="country">Pais</label>
					                     <select class="form-control border-0 bg-light" th:field="*{country}"  name="country" id="country"/>
					                        <option value="" disabled selected>Select um Pais</option>
					                        <option th:each="countries : ${countriesList}" 
					                           th:selected="${countries.idCountry == brand.country}"
					                           th:value="${countries.idCountry}" 
					                           th:text="${countries.namePort}" >
					                        </option>
					                     </select>
					                  </div>
                    <button type="submit" class="btn btn-outline-primary col-lg-12 mt-5">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						   <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
						</svg>
					</button> 
                </form>
            </div>
        </div>
    </div>
</body>
</html>