<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="https://www.thymeleaf.org">
   <div th:replace="~{fragments/head.html::header(title='CR7Imports | Cadastro de Categoria')}"></div>
   <body>
	  <div th:replace="@{/fragments/navbar}"></div>
      <div class="p-3 mb-2 bg-dark text-black">
         <div class="d-flex justify-content-center">
            <div class="card col-sm-12 col-md-10 col-lg-8 p-5 border-0 mt-5 mb-5 shadow" id="slidein">
               <form th:action="@{${tipo == 0} ? '/admin/category/newCategory' : '/admin/category/'+${categoryId}+'/editCategory'}" th:object="${category}" method="POST">
                  <div class="text-typing text-muted">
                      <p th:text="${tipo == 0 ? 'Cadastro Categoria' : 'Edição Categoria'}"></p>
                  </div>
                  <hr class="mb-5">
                  <div class="form-group">
                     <label for="cadastro-categoria-nome">Nome da Categoria</label>
                     <input type="text" class="form-control border-0 bg-light" id="cadastro-categoria-nome" required="true" placeholder="Digite o nome da categoria desejado" th:field="*{categoryName}" th:value="*{categoryName}"/>
                  </div>
                  <button type="submit" class="btn btn-outline-primary col-lg-12 mt-5">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                     </svg>
                  </button>
               </form>
            </div>
         </div>
      </div>
   </body>